body{
    background-color: rgb(248, 225, 229);
    justify-content: center;
}
.box{
    background-color: white;
    width: 610px;
    height: 1450px;
    justify-content: center;
    border-radius: 20px;
    margin-left: 500px;
    font-family: young serif;
}
.box img{
    width: 550px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.box p{
    font-size: 14px;
    margin-left: 30px;
}
.box h2{
    margin-left: 30px;
    color: rgb(167, 47, 67);
}
.box h1{
    margin-left: 30px;
}
.prepare p{
    margin-left: 40px;
    color: rgb(99, 8, 87);
    font-family: sans-serif;
    font-size: 16px;
}
.prepare ul li{
    margin-left: 20px;
     font-size: 15px;
     margin-bottom: 7px;
}
.prepare{
     background-color: rgb(247, 229, 229);
     margin: 0px 20px 0px 20px;
     padding: 20px 0px 20px 0px;
     border-radius: 12px;
}
.box ul li{
    margin-left: 10px;
    margin-bottom: 5px;
}
.tttt{
    margin-top: 60px;
      margin-top: 35px;
}
.line{
    background-color: black;
    height: 0.5px;
    width: 570px;
    margin-top: 35px;
    margin-left: 20px;
}
.tttt ol li{
    margin-bottom: 8px;
}
.line1{
    background-color: black;
    height: 0.5px;
    width: 570px;
    margin-top: 35px;
    margin-left: 20px;
}
.root{
    margin-top: 35px;
}
.lines p{
    margin-top: 20px;
    margin-left: 50px;
}
.line2{
    background-color: black;
    height: 0.5px;
    width: 570px;
    margin-left: 20px;
}
.line3{
    background-color: black;
    height: 0.5px;
    width: 570px;
    margin-left: 20px;
}
.line4{
    background-color: black;
    height: 0.5px;
    width: 570px;
    margin-left: 20px;
}
.lines p b{
    color: rgb(167, 47, 67);
}
@media screen and (max-width:375px){
    .box{
    background-color: white; 
    margin: 0px;
    width: 375px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 1450px;
}
.box img{
    width: 375px;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
}
.der{
    margin-left: 20px;
    margin-right: 20px;
}
.der p{
    font-size: 12px;
}
.der ul li{
    font-size: 12px;
}
.der ol li{
    font-size: 12px;
}
.line{
    width: 300px;
}
.line1{
    width: 300px;
}
.line2{
    width: 300px;
}
.line3{
    width: 300px;
}
.line4{
    width: 300px;
}
}
